*
body {
    background-color: beige;
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
.prvi{
    position: absolute;
    top: 50px;
    left: 300px;
}
.drugi{
    position: absolute;
    top: 50px;
    left: 650px;
}
.treci{
    position: absolute;
    top: 50px;
    left: 1100px;
}
.boja{
    color: orange;
    font-weight: bold;
}
.boja2{
    margin-top: 20px;
    color:darkslateblue;
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
}
.boja3{
    font-weight: bold;
    border-style: solid;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}